<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Результаты поиска</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/resources/css/button.css"> 
</head>
<body>
	<div th:insert="layouts/header.html :: navbar"></div>
	<br/>
	<br/>
	
	<div class="container" align="center">
		<h3>Результаты поиска:</h3>
		<br/>
		<table class = "table table-bordered table-striped" border="1">
				<tr>
					<th>Фамилия</th>
					<th>Имя</th>
					<th>Отчество</th>
					<th>Дата рождения</th>
					<th>Телефон</th>
					<th>Адрес</th>
					<th>Действия</th>	
				</tr>
				<tr th:each="patient : ${patients}">
					<td th:text="${patient.getLastName()}"></td>
					<td th:text="${patient.getName()}"></td>
					<td th:text="${patient.getPatroNymic()}"></td>
					<td th:text="${patient.getAddDate()}"></td>
					<td th:text="${patient.getPhone()}"></td>
					<td th:text="${patient.getAddress()}"></td>
					<td><a th:href="@{/patients/{id}(id=${patient.getId()})}" class="red-btn">Карточка</a>
					&nbsp;&nbsp;&nbsp;<a th:href="@{/patients/records/new/{id}(id=${patient.getId()})}" class="yellow-btn">Запись на прием</a></td>
				</tr>
			</table>
	</div>
</body>
</html>
